<div class="row">
  <div class="span7">
    <%= image_tag "Local-Search-SEO.jpg" %>
  </div>
  <div class="well span4">
    <span><%= link_to "Register your ParkingLot with us...", "/parking_lots/new" %></span>
    <h5>Search Location</h5>
    <div class="form-search">
      <%= text_field_tag :address %>
      <%= link_to "search", "", :class => "btn btn-success" %>

    </div>

    <div class="register_form">
    </div>
  </div>

</div>