<div class="row">
  <div class="span7">
  <%= image_tag "Local-Search-SEO.jpg" %>
  </div>
  <div class="well span4">
    <%= link_to "Register your ParkingLot with us...", "/parking_lots/new" %>
   <div class="register_form">
   </div>
  </div>

</div>