/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

img {
    margin-top: 135px;
    width: 580px;
    border-radius: 5px;
}

.span4 {
    margin-top: 135px;
    width: 370px;
}

.registration-form{
    margin-top: 50px;
}

.form-horizontal input{
    margin-left: 70px;
    margin-top: -50px;
}

.well.span4 h5{
    margin-top: 30px;
}

.well.span4 span{
    float: right;
    font-size: 12px;
}
